# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 65ac9f6bfdfe6a62d5db658f88ac8261799f50ce4bc21b88387b9389c6a71c1eccd4f0d14d7d7fd43fd0b2da4ee596fe182456b48e33684060a2eb3d2671ee5d

test:
  secret_key_base: 4d01c2e8070d1f220e2bca592449a21b7db06fb90ed5e89bbe93dd5d6ec07a8ab4d604c94f50efdb9bb25923b43825d0a89ff60b915337dcbc10d7c27ece6c60

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
